<h1>Criar nova transação</h1>
<form [formGroup]="transacaoForm" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="fill">
    <mat-label>Tipo</mat-label>
    <mat-select formControlName="tipo">
      <mat-option *ngFor="let tipo of tipos" [value]="tipo">{{
        tipo
      }}</mat-option>
    </mat-select>
    <mat-error *ngIf="transacaoForm.get('tipo')?.invalid">
      {{ getErrorMessage("tipo") }}
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Descrição</mat-label>
    <input
      matInput
      formControlName="descricao"
      placeholder="Descrição da transação"
    />
    <mat-error *ngIf="transacaoForm.get('descricao')?.invalid">
      {{ getErrorMessage("descricao") }}
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Valor</mat-label>
    <input
      matInput
      formControlName="valor"
      type="number"
      placeholder="Ex: 100.00"
    />
    <mat-error *ngIf="transacaoForm.get('valor')?.invalid">
      {{ getErrorMessage("valor") }}
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Data</mat-label>
    <input
      matInput
      [matDatepicker]="picker"
      formControlName="data"
      type="datetime"
    />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    <mat-error *ngIf="transacaoForm.get('data')?.invalid">
      {{ getErrorMessage("data") }}
    </mat-error>
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit">Salvar</button>

  <button mat-raised-button color="warn" type="button" (click)="goBack()">
    Voltar
  </button>
</form>
