.alert {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 15px;
  color: white;
  font-size: 16px;
  margin: 12px;
}

.success {
  background-color: lightgreen;
}

.danger {
  background-color: lightcoral;
}

.warning {
  background-color: gold;
}
