<mat-toolbar class="toolbar-container" color="primary">
  <div class="container-brand">
    <button
      mat-icon-button
      class="menu"
      aria-label="menu"
      [matMenuTriggerFor]="menu"
    >
      <mat-icon>menu</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <button
        mat-menu-item
        class="menu-item"
        [routerLink]="['/home']"
        routerLinkActive="link-active"
      >
        <mat-icon>dashboard</mat-icon> Home
      </button>
      <button
        mat-menu-item
        class="menu-item"
        [routerLink]="['/transactions']"
        routerLinkActive="link-active"
      >
        <mat-icon>list_alt</mat-icon> Transações
      </button>
    </mat-menu>
    <span>Teste AppelSoft</span>
  </div>
  <span class="example-spacer"></span>
  <div class="profile" *ngIf="user">
    <span>{{ user?.name }}</span>
    <button mat-button (click)="logout()"><mat-icon>logout</mat-icon></button>
  </div>
</mat-toolbar>
